.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2E2E2E;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

/*New products*/
.productBrand--new-products{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}

.nameContainer--new-products{
  min-height: 37px;
  padding: 0;
}

.priceContainer--new-products{
  align-items: flex-start;
  padding: 0;
  min-height: 72px;
  margin-top: 15px;
}

.productPriceClass--new-products{
  height: 100%;
  display: flex;
  justify-content: center;
}

.price_sellingPrice--new-products{
  padding: 0;
}

.price_listPriceLabel--new-products,
.price_sellingPriceLabel--new-products{
  display: none;
}

.price_listPrice--new-products{
  padding-left: 0;
}

/*smartphones*/
.productBrand--smartphones{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}

.nameContainer--smartphones{
  min-height: 37px;
  padding: 0;
}

.priceContainer--smartphones{
  align-items: flex-start;
  padding: 0;
  min-height: 72px;
  margin-top: 15px;
}

.productPriceClass--smartphones{
  height: 100%;
  display: flex;
  justify-content: center;
}

.price_sellingPrice--smartphones{
  padding: 0;
}

.price_listPriceLabel--smartphones,
.price_sellingPriceLabel--smartphones{
  display: none;
}

.price_listPrice--smartphones{
  padding-left: 0;
}

.container .vtex-button {
  border: none;
  height: 49px;
  border-radius: 10px;
  background: #5CC02D;
  width: 90%;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
}