.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #0F3E99;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

/* My Code */
/*Header TOP*/
.flexRow--header-top{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #FFFFFF;
}

.flexRowContent--header-top{
  max-width: 1200px;
}

.flexRowContent--header-top-menu-items{
  width: 200px;
  display: flex;
  justify-content: space-between;
}

/*Header BOT*/
.flexRow--header-bot{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  background-color: #23475E;
}

.flexRowContent--header-bot{
  max-width: 1200px;
}

/*Slider Home*/
.flexRow--slider-home{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRowContent--slider-home{
  max-width: 1680px;
}

/*Club*/
.flexRow--club{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
}

.flexRowContent--club{
  max-width: 1200px;
}

.flexCol--club{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexColChild--club{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Categories*/
.flexRow--categories{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRowContent--categories{
  max-width: 1200px;
}

.flexCol--categories{
  display: flex;
  align-items: center;
}

.flexRow--categories-image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

/*Linhas*/
.flexRow--linhas{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRowContent--linhas{
  max-width: 1200px;
}

/*New-products*/
.flexRow--new-products{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRowContent--new-products{
  max-width: 1200px;
}

/*smartphones*/
.flexRow--smartphones{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.flexRowContent--smartphones{
  max-width: 1200px;
}

.flexColChild--smartphones-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Descontaco*/
.flexRow--descontaco{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow--descontaco1{
  margin-top: 50px;
  margin-bottom: 25px;
}

.flexRow--descontaco2{
  margin-bottom: 50px;
}

.flexRowContent--descontaco{
  max-width: 1170px;
}

.flexCol--descontaco{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Instagram*/
.flexRow--instagram {
  margin-top: 50px;
}

.flexRowContent--instagram{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Footer*/
.flexRow--footer{
  display: flex;
  justify-content: center;
}

.flexRowContent--footer{
  max-width: 1200px;
}

.flexRowContent--footer1{
  padding-bottom: 40px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 30px;
}

.flexRowContent--footer2{
  margin-bottom: 30px;
}

.flexCol--footer1-right{
  flex-direction: row;
  justify-content: space-around;
}

.flexCol--footer1-left{
  justify-content: flex-start;
}

.flexRowContent--footer-left-icons{
  gap: 11px;
}

.flexCol--menucol {
  justify-content: flex-start;
}

.flexCol--footer2-col{
  flex-direction: row;
  align-items: center;
}

.flexCol--footer2-left{
  justify-content: space-between;
}

.flexCol--footer2-right{
  gap: 22px;
}

.flexCol--footer2-left-imgs,
.flexCol--footer2-righ-imgs{
  gap: 10px;
}

.flexRow--footer3{
  background: #23475E;
  display: flex;
  justify-content: center;
}

.flexRowContent--footer3{
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.flexCol--footer3-imgs{
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

/*Depoimentos*/
.flexRow--depoimentos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRowContent--depoimentos{
  max-width: 1200px;
}

.flexCol--categories{
  justify-content: space-between;
}

.flexColChild--categories{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRow--descontaco-banner{
  margin-top: 30px;
}