.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
  min-height: 450px;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
  min-height: 550px;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
  min-height: 550px;
}

.paginationDotsContainer--slider-home, 
.paginationDotsContainer--new-products,
.paginationDotsContainer--smartphones{
  display: none;
}

.caretIcon--slider-categories{
  display: none;
}

.paginationDotsContainer--slider-categories{
  margin-top: 30px;
}

.sliderLayoutContainer--slider-categories{
  height: 235px;
}

.sliderTrackContainer--slider-categories{
  position: absolute;
  top: 15px;
}

/*New Products*/
.slide--new-products {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

/*Smartphones*/
.slide--smartphones {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
  min-height: 550px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

/*Depoimentos*/
.sliderLayoutContainer--depoimentos{
  background-color: #FFFFFF;
}
